<center>  
        
    <table border="1">
        <thead>
        <tr>
            <th><a href="appointments/{{lastmonth}}"><i>Previous Month</i></a></th>
            <th></th>
            <th></th>
            <th><label ng-model ="appointments.currentMonth"></label></th>
            <th></th>
            <th></th>
            <th><a href="appointments/{{nextmonth}}"><i>Next Month</i></a></th>
        </tr>
        <tr>
        	
            <th ng-repeat="dayname in weeksday">{{dayname}}</th>
            
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="days in weeks">
            <td ng-repeat="day in days track by $index">
                <a href="appointmentsof/{{day.day | date:'yyyyMMdd'}}" >
                    <div ng-class="[day.appointments >0]">
                        <h4>{{day.day |date: 'dd' }}</h4>
                        <i ng-if="day.appointments > -1">Dates</i> {{day.appointments}}
                    </div>
                </a>
            </td>
            <!-- "track by $index" indica que el ng-repeat muestre el dato por su indice en la lista en ver de por un id.
             hashkey generado por angular que no permite duplicados  -->
        </tr>
        </tbody>
    </table>
</center>