<div>Customer Card</div>
<section class="list">
	<div>  
	    <form id="miform">	
			<table style="width:100%">
				<tr>
					<th><label id="id" for="idIn">ID: </label></th>
					<td><input id="idIn" type="text" name="idIn" ng-model="_id"></td>
				</tr> 
				
				<tr>
					<th><label id="DNI" for="DNIIn">DNI: </label></th>
					<td><input id="DNIIn" type="text" name="DNIIn" ng-model="dni"></td>
				</tr> 
				
				<tr>
					<th><label id="firstName" for="firstNameIn">First name: </label></th>
					<td><input id="firstNameIn" type="text" name="firstNameIn" ng-model="firstName"></td>
				</tr> 
				
				<tr>
					<th><label id="lastName" for="lastNameIn">Last name: </label></th>
					<td><input id="lastNameIn" type="text" name="lastNameIn" ng-model="lastName"></td>
				</tr> 
				
				<tr>
					<th><label id="phone" for="phoneIn">Phone: </label></th>
					<td><input id="phoneIn" type="text" name="phoneIn" ng-model="phone"></td>
				</tr> 
				
				<tr>
					<th><label id="Email" for="EmailIn">Email: </label></th>
					<td><input id="EmailIn" type="text" name="EmailIn" ng-model="email"></td>
				</tr> 
				
				<tr>
					<th><label id="Note" for="NoteIn">Note: </label></th>
					<td><input id="NoteIn" type="text" name="NoteIn" ng-model="note"></td>
				</tr> 
			</table>			
		</form>
	</div>
	<pet-list></pet-list>
</section>

