<div id="main" class="container" style="background-color:powderblue;">
<h1><strong>Customer Card</strong></h1>
<a class="btn btn-success btn-xs" ng-href="/pets/cardNew/{{customer._id}}">New Pet</a>
<section class="row">
	<div class="col-sm-5">  
	    <form id="miform">
	    
	    		<label-input-form-group data-label="ID: " data-model="customer._id" data-placeholder="ID" />
	    		<label-input-form-group data-label="DNI: " data-model="customer.dni" data-placeholder="DNI" />
	    		<label-input-form-group data-label="First name: " data-model="customer.firstName" data-placeholder="First name" />
	    		<label-input-form-group data-label="Last name: " data-model="customer.lastName" data-placeholder="Last name" />
	    		<label-input-form-group data-label="Phone: " data-model="customer.phone" data-placeholder="Phone" />
	    		<label-input-form-group data-label="Email: " data-model="customer.email" data-placeholder="Email" />
	    		<label-input-form-group data-label="Note: " data-model="customer.note" data-placeholder="Note" />
	    		
			<div class="form-group row">	
				<input type="button" ng-click="submit()" value="Save" class="btn btn-primary btn-xs"/>
				
				<input type="button" ng-click="remove()" value="Delete" class="btn btn-default btn-xs" />
				<input type="button" ng-click="cancel()" value="Cancel" class="btn btn-default btn-xs"/>
			</div>
			
						
		</form>
	</div>
	<pet-list ng-show="!isNew" class="col-sm-5"></pet-list>
</section>
</div>
