<h1>Appointment Card</h1>
    <div>
	  	<form id="miform">
	  			<label-input-form-group data-label="ID: " data-model="appointment._id" data-placeholder="ID" />
	    		<label-input-form-group data-label="Date: " data-model="appointment.date" data-placeholder="Date" />
	    		<label-input-form-group data-label="End date: " data-model="appointment.dateEnd" data-placeholder="End date" />
	    		<label-input-form-group data-label="Note: " data-model="appointment.note" data-placeholder="Note" />
	    		<label-input-form-group data-label="Pet: " data-model="appointment.pet" data-placeholder="Pet" />
	    		<label-input-form-group data-label="State: " data-model="appointment.state" data-placeholder="State" />
	    		<label-input-form-group data-label="Vet: " data-model="appointment.vet" data-placeholder="Vet" />
			
				<input type="button" ng-click="submit(appointment._id)" value="Save" class="btn btn-primary btn-xs"/>
				<input type="button" ng-click="remove(appointment._id)" value="Delete" class="btn btn-danger btn-xs" />
				<input type="button" ng-click="cancel(appointment._id)" value="Cancel" class="btn btn-warning btn-xs"/>
	  	</form>
    </div>
