<h1>Pet Card</h1>
<section class="list">
	<div>  
	    <form id="miform">	
	    
	    		<label-input-form-group data-label="ID: " data-model="pets._id" data-placeholder="ID" />
	    		<label-input-form-group data-label="name: " data-model="pets.name" data-placeholder="DNI" />
	    		<label-input-form-group data-label="birthDate: " data-model="pets.birthDate" data-placeholder="First name" />
	    		<label-input-form-group data-label="picture: " data-model="pets.picture" data-placeholder="Last name" />
	    		<label-input-form-group data-label="shipNumber: " data-model="pets.shipNumber" data-placeholder="Phone" />
	    		<label-input-form-group data-label="pets.especie: " data-model="pets.especie" data-placeholder="Email" />
	    		<label-input-form-group data-label="pets.raza: " data-model="pets.raza" data-placeholder="Note" />
	    		<label-input-form-group data-label="pets.idClient: " data-model="pets.idClient" data-placeholder="Note" />
	    	
	    
	    	
			<table style="width:100%">
				<tr>
					<th><label id="id" for="idIn">ID: </label></th>
					<td><input id="idIn" type="text" name="idIn" ng-model="pets._id" disabled></td>
				</tr> 
				
				<tr>
					<th><label id="name" for="NameIn">Name: </label></th>
					<td><input id="nameIn" type="text" name="NameIn" ng-model="pets.name"></td>
				</tr> 

				<tr>
					<th><label id="birthDate" for="birthDateIn">Birth date: </label></th>
					<td><input id="birthDateIn" type="date" name="birthDateIn" ng-model="pets.birthDate"></td>
				</tr> 
				
				<tr>
					<th><img src="pet.picture" width="100" height="120" /></th>
					<td><input id="pictureIn" type="file" name="pictureIn" ng-model="pets.picture"></td>
				</tr>
				
				<tr>
					<th><label id="shipNumber" for="shipNumberIn">Ship number: </label></th>
					<td><input id="shipNumberIn" type="text" name="shipNumberIn" ng-model="pets.shipNumber"></td>
				</tr> 
				
				<tr>
					<th><label id="especie" for="especieIn">Note: </label></th>
					<td><input id="especieIn" type="text" name="especieIn" ng-model="pets.especie"></td>
				</tr> 
				
				<tr>
					<th><label id="raza" for="razaIn">Raza: </label></th>
					<td><input id="razaIn" type="text" name="razaIn" ng-model="pets.raza"></td>
				</tr> 
				
				
				<tr>
					<th><label id="idClient" for="idClientIn">Id client: </label></th>
					<td><input id="idClientIn" type="text" name="idClientIn" ng-model="pets.idClient"></td>
				</tr> 
			</table>
			<input id="update" type="submit" name="update" value="Save changes" ng-click="updatePet()">
			<input type="button" ng-click="remove()" value="Delete"/>
			<input type="button" ng-click="submit()" value="Save"/>
			<input type="button" ng-click="cancel()" value="Cancel"/>
						
		</form>
	</div>
</section>