<h1>Customer List</h1>
<input id="search" type="text" ng-model="search">
<section class="list">
	<div>
		<ul ng-repeat="customer in customers|filter:search">                                      
	        <li>Id: {{customer._id}}</li>
	        <li>dni: {{customer.dni}}</li>
	        <li>First name: {{customer.firstName}}</li>
	        <li>Last name: {{customer.lastName}}</li> 
	        <a ng-href="/customer/{{customer._id}}">Client card</a>
        </ul>
        <a id="create" ng-href="/newcustomer">Create Client</a>
	</div>
</section>