<h1>Customer List</h1>
<input type="text" ng-click="searchCustomers()" />
<section class="list">
	<div>
		<ul ng-repeat="customer in customers|filter:search">                                      
	        <li>Id: {{customer._id}}</li>
	        <li>dni: {{customer.dni}}</li>
	        <li>First name: {{customer.firstName}}</li>
	        <li>Last name: {{customer.lastName}}</li> 
	        <a ng-href="/customer/{{customer._id}}">Client card</a>
	        <input type="button" ng-click="remove(customer._id)" value="Delete"/>
        </ul>
        <a id="create" ng-href="/customers/card">Create Client</a>
	</div>
</section>